@import 'tailwindcss';

@font-face {
  font-family: 'Geist';
  font-weight: 300; /* light */
  font-display: block;
  src:
    local('Geist Light'),
    url('/fonts/Geist-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 400; /* regular/normal */
  font-display: block;
  src:
    local('Geist Regular'),
    url('/fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 500; /* medium */
  font-display: block;
  src:
    local('Geist Medium'),
    url('/fonts/Geist-Medium.woff2') format('woff2');
}

:root {
  --grid-bleed: 20px;
  --grid-gap: 10px;
}

@media (min-width: 900px) {
  :root {
    --grid-bleed: 32px;
    --grid-gap: 20px;
  }
}

@theme {
  /**
  * typography
  */
  --font-sans: 'Geist', sans-serif;

  --text-h1: 220px;
  /* --text-h1--line-height: 1.84; */
  --tracking-h1: -0.06em;

  --text-h2: 92px;
  /* --text-h2--line-height: 0.88; */
  --tracking-h2: -0.04em;

  --text-pl: 20px;
  /* --text-pl--line-height: 2.6; */
  --tracking-pl: -0.01em;

  --text-pm: 18px;
  /* --text-pm--line-height: 2.4; */

  --text-ps: 14px;
  /* --text-ps--line-height: 2.2; */

  /**
  * colors
  */

  --color-black: #1e1e1e;
  --color-white: #ffffff;
  --color-off-white: #eeeeee;
  --color-grey: #7f7e90;

  --spacing-bleed: var(--grid-bleed);
  --spacing-gap: var(--grid-gap);
}

html {
  --zoom-amount: 0.4;
  font-size: max(16px, calc(16px + 16 * var(--zoom-amount) * (100vw - 1440px) / 1440));
  background-color: var(--color-off-white);
  color: var(--color-black);
}

* {
  text-rendering: geometricPrecision;
}

body {
  overflow-x: clip;
  width: 100%;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 15s ease;
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
}

.page-fade-page-enter-active,
.page-fade-page-leave-active {
  transition: opacity 1s ease;
}

.page-fade-page-enter-from,
.page-fade-page-leave-to {
  opacity: 0;
}
